body {
  background-color: #d6d4d4;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
}

#navbar {
  background-color: #3b3535;
  padding: 20px;
  width: 100%;
  margin: 0;
  color: white;
  font-size: 25px;
}

#navbar-contents {
  padding-right: 20px;
  display: flex;
  justify-content: right;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
}

#list-title {
  font-size: 40px;
  padding-top: 40px;
  padding-left: 27.5%;
}

#logo {
  position: absolute;
}

ul {
  padding-left: 10%;
  font-size: 25px;
}

.list-header {
  font-size: 33px;
  margin-left: -20px;
}

#list-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px; /* (vertical),(horizontal) */
  width: 60%;
  padding-left: 10%;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 10px 0;
  width: 100%;
}

#vertical-line {
  width: 3px;
  height: 100vh;
  background-color: black;
  position: absolute;
  left: 65%;
  top: 28.2%;
}

.list {
  padding-right: 12.5%;
  padding-left: 12.5%;
  flex: 1 1 calc(50% - 20px); /* Each list takes up 50% of the row */
}

#new-list-box {
  position: absolute;
  right: 5.5%;
  width: 20%;
  height: 30px;
  font-size: 25px;
  margin-top: 0px;
  top: 38%;
}

#create-title {
  font-size: 40px;
  padding-left: 78.4%;
  position: absolute;
  top: 20%;
}

#nlb-enter {
  position: absolute;
  top: 38%;
  left: 94.5%;
  background-color: black;
  color: white;
  padding: 8.4px;
  padding-left: 10px;
  padding-right: 10px;
}

#nib-enter {
  position: absolute;
  top: 57%;
  left: 94.5%;
  background-color: black;
  color: white;
  padding: 8.4px;
  padding-left: 10px;
  padding-right: 10px;
}

#new-item-box {
  position: absolute;
  right: 5.5%;
  width: 20%;
  height: 30px;
  font-size: 25px;
  margin-top: 0px;
  top: 57%;
}

#reset-btn {
  position: absolute;
  top: 75%;
  left: 94.5%;
  background-color: red;
  color: white;
  padding: 8.4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
